.movie-box {
  display: flex;
}

.trailer-photo {
  height: 300px;
  width:  200px;  
}

.movie-details {
  height: 300px;
  width:  200px; 
  background-color: grey;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}

.release-date {
  text-align: center;
}

.score {
  text-align: center;
}

.rating-duration {
  text-align: center;
  font-weight: bold;
}

.genre {
  text-align: center;
  font-weight: bold;
}